<p><a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a> makes a number of interesting points about the modern view of debt, all based on a Christian religious viewpoint. Regardless of whether you believe in Christianity or not, the ideas can change your attitude to debt and whether the modern view of it is the correct one.</p>

<p>The modern idea is one which views debt as a resource, something which allows you to do something or possess something before you have the money to afford it. For example to get a good education as early as possible in life, many have to take out a student loan, in the expectation that it will allow them to earn a better income in the future and thus repay the loan. All very sensible you might think. The problem is it is a kind of gambling, you are investing money you don't have into something that might or might not 'win' you more money in the future. As <a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a> explains, this view of loans is certainly not Christian, in fact the Bible calls gambling a sin.</p>

<p>Similar considerations apply to buying a house on a mortgage. You can 'own' something you need now, and gamble on the fact that you will be able to maintain payments, without really knowing what the future will bring. <a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a> tells us that this is wrong, and that living a debt free life should be a right, not something that you are forced to work towards by the way that society operates. The author has come to these conclusions after many years working in the financial industry, and explains them clearly in <a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a>, which also gives a practical strategy for moving towards a debt free future and staying there, a path which the author himself is currently travelling.</p>

<br />
<h3>Pros</h3>
<p>Presenting a radically different view of debt,  <a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a> explains the Christian view of debt and how to solve it.</p>

<br />
<h3>Cons</h3>
<p>An interesting read even if you are not a Christian.</p>

<br />
<h3>Testimonials</h3>
<p>None available</p>

<br />
<h3>The Bottom Line</h3>
<p>For only $17 <a href="http://ethiccash.mycoach.hop.clickbank.net" target="_blank">What does the Bible say about debt</a> makes an interesting and possibly life changing read.</p>