/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 30px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	*height: 0;
	position: absolute;
	right: 3px;
	bottom: 3px;
}
.flex-direction-nav a {
	background:#f1f3f6;
	width: 24px;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	text-indent:0;
	margin: -24px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 10;
}

.flex-direction-nav .flex-next {right: -10px; }
.flex-direction-nav .flex-prev {right: 40px;}
.flex-direction-nav a i{color:#fff;}
.flex-direction-nav a:hover i {color:#fff;}
.flex-direction-nav a{opacity:0;background: #999;}
.flexslider:hover .flex-next {opacity:1; right:0px;}
.flexslider:hover .flex-prev {opacity:1; right:30px;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {position: absolute; bottom: -18px; left:50%; text-align: center; background:#f8f8f8; padding:0 13px; border:1px solid #eee; border-top:none; border-bottom:1px solid #fff;
	-webkit-box-shadow: 0 9px 8px -10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0 9px 8px -10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 9px 8px -10px rgba(0, 0, 0, 0.4);
}
.flex-control-nav li {margin:5px 0px; padding:3px 8px; display: inline-block; zoom: 1; *display: inline; line-height:1; border-left:1px solid #fff; border-right:1px solid #eee; }
.flex-control-nav li:first-child { border-left:none;}
.flex-control-nav li:last-child { border-right:none;}
.flex-control-paging li a {display:block; width: 11px; height: 11px; display: block; background: #cfcfcf; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 40px; -moz-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px;}
.flex-control-paging li a:hover { background: #bbb; }
.flex-control-paging li a.flex-active { padding:1px; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; left: 30px;}
}