<h2>Disclaimer & Contact</h2>

<p>This website works in affiliation with online merchants. All prices displayed on this site are subject to change without notice. Although we do our best to keep all links up to date and valid on a daily basis, we cannot guarantee the accuracy of links and special offers displayed. We are not responsible for any products ordered from our affiliate merchants and we cannot be held responsible for any actions of our affiliated merchants. Not every link is an affiliate link, but some are.</p>

<p>We may occasionally place banner ads on the site that will also result in commission. Furthermore, some of the text/image ads throughout the site are Google AdSense ads.</p>

<p>If you have any questions or comments, feel free to contact us.</p>

<br />
<br />