Options -MultiViews
Options +FollowSymLinks
Options -Indexes
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/index.php$
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ / [R=301,L]

RewriteCond %{REQUEST_URI} ^/wellness.php$
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ /yoga-meditation-wellness-services [R=301,L]
RewriteCond %{REQUEST_URI} ^/yoga-meditation\-wellness\-services
RewriteRule ^(.*)$ /wellness.php?z=1 [L]

RewriteCond %{REQUEST_URI} ^/consult.php$
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ /asd-consultant-training-coaching [R=301,L]
RewriteCond %{REQUEST_URI} ^/asd\-consultant\-training\-coaching
RewriteRule ^(.*)$ /consult.php?z=1 [L]

RewriteCond %{REQUEST_URI} ^/links.php$
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ /asd-consultant-links-resources [R=301,L]
RewriteCond %{REQUEST_URI} ^/asd\-consultant\-links\-resources
RewriteRule ^(.*)$ /links.php?z=1 [L]